{{- $inner := trim .Inner "\r\n" | markdownify}}

<div class="about">
<p class="ab_title">دربارهٔ این صفحه</p>
  <div class="ab_content">
    {{- $inner }}
 </div>
</div>

<style>
.about {
border: 1px solid #000080; 
margin-top: 1em;
margin-bottom: 0em;
border-radius: .5em;
background-color: #336666;
}

.ab_title {
background-color: #000080;
position:relative;
color: #fff;
padding-right: .3em;
padding-left: .5em;
border-top-left-radius: .5em;
border-top-right-radius: .5em;
}

.ab_content {
background-color: #336666;
color: #fff;
padding-right: .5em;
padding-left: .5em:
}
</style>
